.center
  %h3 Look at this word
  = link "Edit", to: Routes.home_path(@conn, :edit, @word), class: "btn btn-primary blue"
  -# = link "Delete", to: Routes.home_path(@conn, :delete, @word), method: :delete, class: "btn btn-primary red"

%table.centered
  %thead
    %tr
      %th English
      %th Russian
  %tbody
    %tr
      %td= @word.eng
      %td= @word.rus